* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #cce7ff, #ffffff);
    padding-top: 0px; /* Memberi ruang untuk header */
    padding-bottom: 70px; /* Memberi ruang untuk navbar */
    
}

.container {
    font-weight: bold;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ff4d4d;
    z-index: 10;
    padding: 20px 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.send-to {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.send-option {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: none;
}

.send-option.active {
    background-color: #ff4d4d;
    color: #fff;
}

.send-option img {
    width: 50px;
    height: 50px;
}

.send-option span {
    font-size: 14px;
}

.transaction-list {
    max-height: calc(100vh - 180px); /* Menghitung ruang tersisa untuk daftar transaksi */
    overflow-y: auto;
    padding: 10px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.transaction-amount {
    text-align: right;
}

.transaction-amount .send-text {
    color: #888;
    font-size: 12px;
    margin-top: 2px;
    display: block;
}

a{
    text-decoration: none;
  }
  
  .navbar {
    position: fixed;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    width: 80%;
    background-color: #ff4d4d;
    padding: 0.1rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  .navbar a {
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
  }
  .navbar a:hover, a:active, a:focus {
    color: #1F5099;
    outline: none;
    text-decoration: none;
  }
  .navbar .central-button {
    position: relative;
    bottom: 15px;
    width: 60px;
    height: 60px;
    background-color: #ff3333;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
  }

/* Responsif */
@media (max-width: 600px) {
    .send-option {
        font-size: 12px;
        padding: 8px;
    }

    .transaction-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .transaction-amount {
        margin-top: 5px;
    }
}
